.main-header{
  background-color: $darkerblue;
  padding: 10px 0 0;
  @media screen and (max-width: $tablet){
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }
  .wrapper{
    position: relative;
  }
}
.branding{
  
  width: auto;
@media screen and (min-width: $lgdesktop){
  float: left;
}
  

  a {
    display: block;
  }
  img {
    max-width: 80%;
    margin: 0 auto 20px;
    display: block;
    max-height: 80px;
      @media screen and (min-width: $mobile){
        max-width: none;
      }
  }
} 
.open-fixed {
    position: absolute;
    .slicknav_nav {
        position: absolute;
    }
}