// Colors
$black: #3B3D41;
$yellow: #FF611D; //F8F3A7
$gold: #8D734B;
$grey: #6f7172;
$darkblue: #171F32; //3E5065
$midblue: #171F32;
$lightblue: #CCCFD3;
$darkerblue: #101727;
$accent: #027d8f;

// Typography
$font-family-serif: 'Copse', sans-serif;
$font-family-sans-serif: 'Muli', sans-serif;
$line-height-base: 1.6;
$text-color: #121212;
$default-font-size: 16px;

// Screen Sizing
$mobile: 600px;
$tablet: 980px;
$desktop: 1100px;
$lgdesktop: 1300px;
